html,
body {
	background: #282e3a;
  	font-family: tahoma;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: arial, sans-serif;
}

h1 {
	font-family: 'Berkshire Swash', bold;
	font-size: 50px;	
	text-align: center;
  	letter-spacing: 5px;
	padding: 3px;
	color: #fff;
	border-radius: 25px;	
}

strong  {
	font-family: 'Berkshire Swash', bold;
	font-size: 500px;	

	text-align: center;
}

.bed {
	font-family: 'Berkshire Swash', bold;
	font-size: 80px;	
	text-align: center;
  	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
	color: #fff;
}

.local {
	font-family: 'Berkshire Swash', cursive;
	font-size: 50px;	
	text-align: center;
  	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
	color: #282e3a;
}

.myButton {
	font-family: 'Berkshire Swash', cursive;
	color: midnightblue;
	width: 120px;
	height: 40px;
	/*margin-top: 100px;*/
	border-radius: 6px;
	border: none;
	background-color: white;
	font-size: 26px;
}

.noFight {
	font-family: 'Berkshire Swash', cursive;
	font-size: 35px;	
	text-align: center;
  	letter-spacing: 5px;
	padding: 3px;
	color: #fff;
	border-radius: 20px;
}


#timer {
	background: #2dcb74;
}

#timer2 {
	background: #26c2b9;
}

.grid-container {
	/*border: solid 4px #000;*/
	width: 100%;
	height: 100%;
    display: inline-grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 22% 28% 28% 15% 7%; 
    grid-auto-flow: column;
}

.grid-item {
	/*color: #fff;*/
	font-color: #A62E5C
    box-sizing: border-box;
	font-size: 0.8em;
	padding: 1em;
    overflow: hidden;
	text-align: center;
}

.grid-item-01 {
	font-family: 'Berkshire Swash', cursive;
	color: #fff;
	font-size: 50px;
	margin: 0px;
	padding: 0px;
	border-radius: 25px;
   grid-column: 1 / 4;
    grid-row: 1 / 2;
}

 .grid-item-02 {
	background-color: #C2D4D8;  
	border-radius: 15px 70px;
	margin: 1em;
   grid-column: 1 / 2;
    grid-row: 2 / 4;
}

 .grid-item-03 {
	/*background-color: #27AE60;   */
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

 .grid-item-04 {
	background-color: #B0AAC2;  
	border-radius: 70px 15px;
	margin: 1em;
	grid-column: 3 / 4;
	grid-row: 2 / 4;
}

 .grid-item-05 {

	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

 .grid-item-06 {
	/*margin: 10px;
	padding: 10px;*/
	font-family: 'Berkshire Swash', cursive;
	color: #fff;
	font-size: 16px;
	border-radius: 25px;
	grid-column: 1 / 4;
	grid-row: 4 / 5;
}

 .grid-item-07 {
	/*background-color: #F39C12;   */
	grid-column: 1 / 4;
	grid-row: 5 / 6;
}

.grid-item strong {
	display: block;
	font-size: 200%;  
}

.grid-item em {
	font-size: 200%;  
}

.grid-item .image {
	width: 45%;
}
