html, body, .container {
    	height: 100%;
    	background-color: white;
	margin: 0px;
	padding: 0px;
}

.container {
    	display: flex;
    	flex-direction: column;       
    	/* flex-wrap: wrap; */
}

.container div {                   
    	margin: 4px;
    	flex: 1;
    	background-color: #20B2AA;
}

.container > div:first-child { }

.container > div:nth-child(2) {
    	display: flex;
    	background-color: white;
}

.container > div:nth-child(2) > div:first-child {
    	display: flex;
    	flex-direction: column;
    	background-color: white;
    	margin-right: 5px;
}

.container > div:nth-child(2) div {
    	flex: 1;
    	margin: 0;
}

.container > div:nth-child(2) > div:first-child > div:first-child {
    	margin-bottom: 5px;
}

.container > div:last-child { }
